.navHeader {
  background-color: rgba(18, 17, 19, 0.541);
  backdrop-filter: blur(9px);
  display: flex;
  position: fixed;
  align-items: center;
  z-index: 100;
}

.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2rem 2rem;
  align-items: center;
  border-bottom: 1px solid #ffffff1f;

  a {
    &:hover {
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    flex-direction: row;

    li {
      font-family: "Satoshi";
      list-style: none;
      margin: 0 1.2rem;

      a {
        transition: all 0.25s ease;

        transform: translateY(-50px);
        animation: drop-fade 0.5s ease forwards;

        &:hover {
          cursor: pointer;
          color: #8223f0;
        }
      }
    }
  }
}

@keyframes drop-fade {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
